* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body>div {
    background-color: #333333;

    color: #BDC1C6;
}

.tagTitle {
    color: #3A6AC8;
}

.project {
    background-color: #1E1E1C;
    border: 5px solid #252525;
}

.projectTitle {
    color: #D0D2C8;
}

.projectType {
    color: #446C36;
}

.certificationCard {
    position: relative;
}

.certificationFront {
    height: 400px;
    width: 270px;
    position: relative;
    background-color: #1E1E1C;
    border: 5px solid #252525;
}

.toggleZIndex {
    z-index: 1;
}

.certificationBack {
    height: 400px;
    width: 270px;
    position: absolute;
    top: 0;
    border: 5px solid #1E1E1C;
    background-color: #252525;
}

.certificationBack p {
    font-size: small;
}

.certificationFullDescription {
    height: 25%;
}

.badgeImage {
    height: 100px;
    width: 100px;
}

.certificationCard {
    transition: .5s;
}

.certificationCard:hover {
    transform: scale(1.05) !important;
}



.certificationData {
    height: 250px;
    width: 250px;
}

.certificationTitle {
    font-size: larger;
    text-align: center;
    width: 100%;
}

textarea {
    height: 150px;
    resize: none;
}

#contactSecondPart :last-child {
    width: 90px;
}

#socialsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.social {
    position: relative;
    height: 100px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

button {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #212121;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    /* z-index: 2; */
}

button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(#488cfb,
            #29dbbc,
            #ddf505,
            #ff9f0e,
            #e440bb,
            #655adc,
            #488cfb);
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}

button:hover::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

button,
button::after {
    box-sizing: border-box;
}

button:active {
    --border-width: 5px;
}



@media (min-width: 992px) {

    .exampleDisplays {
        width: 540px;
        height: 720px;
    }

    .mobileDisplays {
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .mobileDisplays :first-child {
        align-self: flex-start;
    }

    .mobile1 {
        width: 200px;
        height: 245px;
    }

    .mobile2 {
        width: 120px;
        height: 245px;
    }

    .desktopDisplayExample {
        width: 230px;
    }

    .projectDetailsHead {
        height: 70px;
    }

    #contactSecondPart {
        height: 272px;
    }

    textarea {
        height: 190px;
    }

    #contactSecondPart :last-child {
        align-self: center;
        justify-self: flex-end;
    }

    #socialsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .social {
        height: 200px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

}