* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100px;
    padding: 0px, 25px;
    position:sticky ;
    top: 0;
}

#headerNav{
    background-color: yellow;
    height: 54px;
    width: 87%;
    padding: 1px;
    display: flex;
}

#navLogo{
    background-color: green;
    height: 100%;
    width: 52px;
}

/* MAIN */

main {
    background-color: blue;
    min-height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* BANNER */

#banner{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    padding: 5px;
    justify-content: space-evenly;
}

#bannerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: flex-start;
}

#bannerPic{
    height: 150px;
    width: 150px;
    background-image: url(../img/banner.jpeg);
    background-position-x: -35px ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 360px;
    border: solid 1px black;
}

#underBanner{
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
}

/* EXPERIENCE & ACHIEVEMENTS */

#experienceAchievements{
    background-color: wheat;
    display: flex;
    flex-direction: column;
}

/* CERTIFICATIONS & TECHNOLOGIES */

#certificationsTechnologies{
    background-color: burlywood;
}

#technologies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
}

.techLogo{
    margin: 3px;
    width: 70px;
    height: 70px;
}

#certifications{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#certifications img{
    height: 90px;
    width: 90px;
}

/* CONTACT */

#contact{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

/* FOOTER */

footer {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#socials{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 270px;
    margin: 0px, auto, 10px;

}

.socialLogos{
    width: 30px;
    height: 30px;
}


/* @media(min-width:680px){

} */